<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="email">
    <insert id="saveMailHistory">
        INSERT INTO jobtable.EmployeeMailHistory (employeeId, email)
        VALUES (#{employeeId}, #{email})
    </insert>

    <select id="countMailHistoryByEmployeeId" resultType="int">
        SELECT COUNT(*) FROM jobtable.EmployeeMailHistory WHERE employeeId = #{employeeId}
    </select>
</mapper>
